# إعدادات إرسال البريد
# إذا تستخدمين Gmail:
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false

# حطي هنا بريد الإرسال
SMTP_USER=your-email@gmail.com

# حطي هنا App Password وليس كلمة مرور البريد العادية
SMTP_PASS=your-app-password

# اسم/بريد المرسل الظاهر للمستلم
MAIL_FROM=your-email@gmail.com

# رابط النظام الذي يصل للموظف
SYSTEM_URL=http://localhost:3000
